.site-header{
	background-image: url(media/wallpaper-low.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	position: fixed;
}

.header-btn {
  color: #fff;
  margin-top: 300px;
  margin-bottom: 650px;
  font-weight: 300;
  font-size: 24px;
  padding: 20px 60px;
  border: 2px solid #ccc;
  background: #a4a4a4;
  display: inline-block;
  font-family: 'OpenSansLight';
  
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;

  -webkit-transition: -webkit-transform 1s; /* For Safari 3.1 to 6.0 */
    transition: transform 1s;
}


a:hover, a:focus .header-btn{
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.white-text{
	color: #fff;
	font-family: 'OpenSansLight';
	font-size: 64px;

}

@font-face {
	font-family: 'OpenSansLight';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/opensans-light.ttf'), url('fonts/opensans-light.eot'), url('fonts/opensans-light.woff');
}
	
@font-face {
	font-family: 'OpenSansBold';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/opensans-bold.ttf'), url('fonts/opensans-bold.eot'), url('fonts/opensans-bold.woff');
	}
	
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/opensans-regular.ttf'), url('fonts/opensans-regular.eot'), url('fonts/opensans-regular.woff');
}